body{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Robot', sans-serif;
}

div.title-container {
  background-color: #3ba3ac;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

div.title-container button#s-cart {
  float: right;
  padding: 10px;
  font-size: 1em;
  margin-right: 1%;
  margin-bottom: 1%;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  background-color: transparent;
}

div.title-container button#s-cart:hover {
  background-color: #fff;
  color: #3ba3ac;
}

div.title-container h1 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  color: #fff;
  font-size: 45px;
  font-weight: 400;
}

div.container-even {
  background-color: #f9f9f9;
}

div.container-odd {
  background-color: #f2f2f2;
}

div.p-container {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 20px 0;
  z-index: 0
}

/* book image container*/
div.p-container img {
  position: relative;
  width: 15%;
  border-radius: 3px;
  float: left;
  margin-left: 2%;
}

/* book description container*/
div.p-container div.description {
  position: relative;
  margin-left: 1%;
  color: #555656FF;
  width: 55%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  float: left;
}

div.p-container div.description p {
  margin: 1% 0;
}

/* button container */
div.p-container div.btn-container {
  display: block;
  width: 10%;
  float: right;
  margin: 2% 2%;
}

div.price {
  color: #3ba3ac;
}

div.price p {
  font-size: 1em;
  margin: 0;
}

div.btn-quantity {
  color: #3ba3ac;
  border-radius: 5px;
}

div.btn-quantity label {
  position: relative;
  float: left;
  color: #3ba3ac;
}

div.btn-quantity select {
  text-align: center;
  font-size: 1em;
  float: left;
  color: #3ba3ac;
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: transparent; /* cool hack*/
}

div.atc-btn {
  margin-top:3%;
}

div.atc-btn button[type='button']{
  font-size: .9em;
  font-weight: 400;
  padding: 5px 5px;
  margin: 0;
  border: 1px solid #3ba3ac;
  color: #3ba3ac;
  background-color: transparent;
  border-radius: 3px;
  transition: all .5s;
  box-shadow: 0 1px 5px rgba(59, 163, 172, 0.15);
}

div.atc-btn button[type="button"]:hover {
  border: 1px solid #3ba3ac;
  color: #fff;
  background-color: #3ba3ac;
}

div.atc-btn button[type="button"]:focus, div.atc-btn button[type="button"]:active {
  outline: none;
}

/* shopping cart section */
div.cart-container {
  position: absolute;
  right: -600px;
  z-index: 99;
  width: 30%;
  background-color: #fff;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 1px 5px rgba(59, 163, 172, 0.15);
  transition: .9s right ease-in-out;
}

div.cart-containerShow{
  right: 0;
}

div.cart-container h2 {
  text-align: center;
  border-bottom: 1px solid #2c97de;
  padding: 10px 30px;
  margin: 10px 30px;
  color: #2c97de;
}

div.cart-item {
  position: relative;
  overflow: hidden;
  margin: 10px 30px;

}

div.cart-item img {
  width: 120px;
  height: 120px;
  float: left;
}

div.cart-item div.item-description {
  float: left;
  margin-right: 3%;
  position: relative;
}

div.cart-item div.item-description > p{
  font-size: .8em;
  margin: 10px 0 0 0;
}

div.cart-item button.cart-item-btn {
  display: block;
  float: right;
  border: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 1%;
}

/* Promo code section */
.promo-code-container {
  margin: 10px 30px;
}

.promo-code-container p {
  margin-bottom: 5px;
}

.promo-code-container input {
  margin: 0;
  padding: 0;
}

/* Total price section */
.total-price-container {

}

.total-price-container p {
  margin: 3% 30px;
  
}

.total-price-container button {
  width: 100%;
  color: #fff;
  background-color: #2c97de;
  border-radius: 0 0 5px 5px;
  text-align: left;
  font-size: 1.2em;
  padding: 2% 2%;
}